<!--
  Body of the home page 
 -->
<p>
  <input type="text" id="protocol" value="https://" /> 
  <input type="text" id="host" value="dev-api.aurin.org.au" /> 
  <input type="text" id="app" value="node/feature" /> 
  <select id="feature" value="country">
    <option>country</option>
    <option>state</option>
    <option>lga</option>
    <option>sla</option>
    <option>sa3</option>
    <option>sa2</option>
    <option>sa1</option>
    <option>ssc</option>
    <option>poa</option>
    <option>ced</option>
    <option>ccd</option>
    <option>fer</option>
    <option>ffer</option>
    <option>mfer</option>
    <option>lsfer</option>
    <option>sfer</option>
    <option>tfer</option>
    <option>bfer</option>
    <option>rofer</option>
    <option>cd</option>
    <option>lfr</option>
    <option>ucl</option>
  </select> (CCD are PBC in reality)
  <input type="text" id="year" value="2006" />
</p>

<div id="map" style="width: 600; height: 500"></div>

<textarea id="logconsole" style="width: 800; height: 200" style="fontSize:10px">
</textarea>
    
