<!--
  Layout of the home page 
 -->
<html>
<head>
  <title>Map rendering test</title>
  <script type="text/javascript"
    src="http://maps.google.com/maps/api/js?v=3.8&sensor=false"></script>
  <script type="text/javascript"
    src="http://openlayers.org/api/2.11/OpenLayers.js"></script>
  <script type="text/javascript"
    src="http://dev.sencha.com/deploy/ext-4.1.0-gpl/ext-all.js"></script>
  <script type="text/javascript" src="scripts/render.js"></script>

</head>
<body>
  {{html body}}
</body>
</html>

